/* globals.css */

/* Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-right {
  animation: slideRight 20s linear infinite;
}